#group,false,false,false,false,true
#datatype,string,long,dateTime:RFC3339,double,string
#default,_result,,,,
,result,table,_time,_value,_field
,,0,2024-04-04T09:19:21.011467188Z,50133,value_altitude_properties_value
,,0,2024-04-04T10:57:47.618272137Z,50133,value_altitude_properties_value

In [7]:
import pandas as pd

# Define the path to your CSV file
csv_file_path = "../data/all_data_vicomtech.csv"

# Read the CSV file while skipping the first 4 metadata lines
df = pd.read_csv(
    csv_file_path,
    skiprows=3,  # Skip the first 4 lines of metadata
    parse_dates=['_time']  # Parse the '_time' column as datetime
)

# Print the DataFrame to verify
df.head()

,Unnamed: 0,result,table,_time,_value,_field
0,NaN,NaN,0,2024-04-04 09:19:21.011467188+00:00,50133,value_altitude_properties_value
1,NaN,NaN,0,2024-04-04 10:57:47.618272137+00:00,50133,value_altitude_properties_value
2,NaN,NaN,0,2024-04-04 10:57:47.628398575+00:00,50133,value_altitude_properties_value
3,NaN,NaN,0,2024-04-04 10:57:47.645258081+00:00,50133,value_altitude_properties_value
4,NaN,NaN,0,2024-04-04 10:57:47.649473029+00:00,50133,value_altitude_properties_value

In [11]:
# Pivot the DataFrame to have _time as index and _field as columns
pivot_df = df.pivot_table(
    index='_time',
    columns='_field',
    values='_value',
    aggfunc='first'  # Use 'first' to handle duplicates if any
).reset_index()

# Print the DataFrame to verify
pivot_df.to_csv("../data/all_data_vicomtech_sorted.csv")
stats = pivot_df.describe().loc[['min', 'max', 'mean']]

# Print the statistics
print(stats)

_field  value_altitude_properties_value  value_curvature_properties_value  \
min                            0.000000                     -4.251779e+09
max                        50596.000000                      2.890842e+09
mean                       49876.098192                     -5.920262e+06

_field  value_generationDeltaTime_properties_value  \
min                                       0.000000
max                                   65535.000000
mean                                  32674.114551

_field  value_heading_properties_value  value_latitude_properties_value  \
min                           0.000000                     0.000000e+00
max                        3594.000000                     4.329208e+08
mean                       3007.579548                     4.263101e+08

_field  value_longitude_properties_value  \
min                        -1.987041e+07
max                         0.000000e+00
mean                       -1.697122e+07

_field  value_longitudinalAcceleration_properties_value  \
min                                          -26.000000
max                                          161.000000
mean                                           0.588402

_field  value_speed_properties_value
min                         0.000000
max                      1454.000000
mean                       33.619058